@forward "global";
@forward "components";
body {
  // background-color: #000;
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.filters {
  display: flex;
  font-size: 12px;
  gap: 5px;
  justify-content: center;
  padding: 10px;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  max-width: 100%;
  padding-left: 140px;
}

.filters a {
  padding: 8px 16px;
  // background-color: #000;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.39);
  border-radius: 4px;
  color: #000;
  font-weight: bold;
  white-space: nowrap;
}

// Lists products
/* Container de produtos */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Layout flexível */
    gap: 15px;
    margin-top: 10px;
    padding: 12px;
    list-style-type: none;
  }
  
  /* Cada item de produto */
  article {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 12px;
  }
  
  article:hover {
    transform: scale(1.02); /* Efeito de hover */
  }
  
  main img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  h3 {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  .price {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .button-load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-load-more:hover {
    background-color: #0056b3;
  }
  
  /* Shimmer Loader */
  .shimmer {
    animation: shimmer 1.5s infinite;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  
  .add-to-cart:hover {
    background-color: #218838;
  }
  
  