.product-card {
  // border: 2px solid red;

  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 16px;
}

.product-images {
  //border: 2px solid red;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  overflow-x: auto;
}

.product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.product-details {
  padding: 5px;
  // border: 2px solid red;
}

.price {
  font-size: 1.2em;
}

.quantity-container {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.quantity-container input {
  width: 50px;
  padding: 4px;
}

.action-buttons button {
  width: 100%;
  padding: 8px;
  color: #fff;
  border-radius: 12px;
  color: #fff;
  margin-top: 10px;
  
}


.add-to-cart {
    background-color: #007aff;
}

.buy-now {

    background-color: #000;
}